#histories-container {
  display: flex;
  gap: 20px;
  margin: 30px;
  flex-wrap: wrap;
}

.order-card {
  width: 400px;
  min-height: 200px;
  background-color: #1e1e1e39;
  backdrop-filter: blur(15px);
  padding: 20px;
  border-radius: 10px;
}

.order-card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-card-body p {
  background-color: #1a19194f;
  padding: 10px;
  border-radius: 5px;
}

.order-card-footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-item {
  background-color: #1a191957;
  padding: 10px;
  border-radius: 5px;
}

.bottom-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-content button {
  background-color: #ea0101;
  color: #fff;
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
