* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  color: #fff;
  background-color: #222;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.heading {
  font-size: 1.5rem;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: clamp(5px, 2vw, 10px);
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #ffef74;
}

#logout-btn {
  background-color: #ffee35;
  color: #111;
  padding: 8px;
  border-radius: 15px;
  font-size: clamp(8px, 4vw, 15px);
}

/* Responsive Design */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-right {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 8px;
  }

  .nav-right.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  #navbar {
    justify-content: space-between;
  }
}
