* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0;
}

body,
html {
  font-family: sans-serif;
  color: #fff;
  margin-top: 50px;
  overflow-x: hidden;
}

#bg-image {
  height: 100vh;
  height: 100svh;
  width: 100vw;
  background-image: url(/Leonardo_Phoenix_10_A_vibrant_and_appetizing_composition_featu_3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -3;
}

#img-cover {
  height: 100vh;
  height: 100svh;
  width: 100vw;
  position: fixed;
  top: 0;
  backdrop-filter: blur(5px);
  z-index: -2;
}

#app {
  padding-top: 20px;
}

#side-bar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 70%;
  background-color: rgba(24, 24, 24, 0.34);
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  z-index: 6;
}

#side-close-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

#side-close-btn i {
  font-size: 25px;
}

.side-links {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.side-links a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #635f5f53;
  backdrop-filter: blur(10px);
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.heading {
  font-size: 1.5rem;
}

.nav-right {
  display: flex;
  align-items: center;
}

.mobile-only {
  font-size: 21px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: clamp(5px, 2vw, 10px);
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: #ffef74;
}

.logout-btn {
  background-color: #ffee35;
  color: #111 !important;
  padding: 8px;
  border-radius: 15px;
  font-size: clamp(8px, 4vw, 15px);
}

/* Responsive Design */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-right {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 8px;
  }

  .nav-right.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  #navbar {
    justify-content: space-between;
  }
}

@media (min-width: 1000px) {
  #bg-image {
    background-image: url(/Leonardo_Phoenix_10_Vibrant_and_appetizing_Indian_food_backgro_0.jpg);
  }

  #img-cover {
    backdrop-filter: blur(8px);
  }
}
