#users-container {
  margin: 50px;
  backdrop-filter: blur(15px);
}

#main-admin {
  background-color: rgb(2, 185, 2);
  padding: 4px 6px;
  border-radius: 4px;
}

#admin {
  background-color: rgb(0, 137, 222);
  padding: 4px 6px;
  border-radius: 4px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #007bff;
  color: #fff;
}

thead th {
  padding: 10px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody td {
  padding: 10px;
}

.actions button {
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 0.9rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.actions .update {
  background-color: #0793ff;
  color: #fff;
}

.actions .delete {
  background-color: #dc3545;
  color: #fff;
}

.actions button:hover {
  opacity: 0.8;
}

@media (max-width: 1000px) {
  #users-container {
    margin: unset;
  }
  table {
    margin-top: unset;
  }
  thead th {
    padding: 5px;
  }
  tbody td {
    padding: 8px;
  }
  .actions button {
    padding: 2px 5px;
    margin: 0 2px;
    font-size: 0.8rem;
    border-radius: 2px;
  }
  #admin {
    padding: 2px 3px;
    border-radius: 2px;
    font-size: 15px;
  }
  #main-admin {
    padding: 2px 3px;
    border-radius: 2px;
  }
  td {
    font-size: 14px;
  }
}
