#main {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
}

#categories-container {
  background-color: #34323285;
  backdrop-filter: blur(2px);
  width: 100%;
  height: 60px;
  position: fixed;
  top: 60px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-inline: 20px;
  z-index: 1;
  overflow-x: scroll;
}

#categories-container::-webkit-scrollbar {
  width: 0;
}

#categories-container span {
  padding: 5px 14px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: auto;
  text-wrap: nowrap;
}

#products-container {
  width: 75%;
  height: fit-content;
  padding: 40px;
  padding-right: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 15px;
}

*::-webkit-scrollbar {
  width: 0;
}

.product {
  width: fit-content;
  background-color: rgba(37, 36, 36, 0.349);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.product h3 {
  margin-block: 15px;
}

.img-div img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.half-price-content,
.full-price-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-block: 18px;
}

.full-price-content span,
.half-price-content span {
  background-color: brown;
  padding: 3px 4px;
  border-radius: 6px;
  margin-right: 4px;
}

.half-price-content button,
.full-price-content button {
  padding: 4px 6px;
  border-radius: 12px;
  background-color: rgb(255, 225, 0);
  cursor: pointer;
  outline: none;
  border: none;
}

#cart-container-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #17171794;
  width: 25%;
  height: 100%;
  overflow-y: scroll;
}

#cart-container-wrapper::-webkit-scrollbar {
  width: 0;
}

.close-btn {
  display: none;
  background-color: #48423b79;
  position: fixed;
  top: 0px;
  left: 40px;
  z-index: 5;
  backdrop-filter: blur(10px);
  height: 60px;
  width: 90%;
  transform: translateX(100%);
}

.close-btn i {
  font-size: 25px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}

#cart-container {
  padding-block: 50px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding-inline: 20px;
}

.cart-product {
  display: flex;
  background-color: rgba(29, 28, 28, 0.532);
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.remove-cart {
  background-color: red;
  color: #fff;
  padding: 4px 6px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#place-order-ele {
  width: 25%;
  height: 50px;
  background-color: rgba(40, 39, 39, 0.548);
  backdrop-filter: blur(10px);
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px 10px;
  display: flex;
  align-items: center;
  gap: 50px;
  z-index: 5;
}

#confirm-order {
  background-color: #ffca1b;
  padding: 5px;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}

.order-form {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  backdrop-filter: blur(20px);
  display: none;
  align-items: center;
  justify-content: center;
}

.order-form form {
  height: 50%;
  width: 25%;
  background-color: #00000057;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 25px;
}

.order-form form input,
.order-form textarea {
  color: #fff;
  background-color: #33333361;
  backdrop-filter: blur(6px);
  outline: none;
  font-size: 18px;
  width: 95%;
  padding: 5px;
  border-radius: 8px;
  margin-top: 5px;
}

#order-submit-btn {
  width: 50% !important;
  background-color: rgb(0, 166, 255) !important;
  cursor: pointer;
}

.mobile-only {
  display: none;
}

/* ------------------------------------------ */

@media (max-width: 1000px) {
  .mobile-only {
    display: inline-block;
  }

  #cart-container-wrapper {
    backdrop-filter: blur(10px);
    width: 90%;
    transform: translateX(100%);
    z-index: 2;
  }

  .close-btn {
    display: block;
  }

  #place-order-ele {
    width: 100%;
  }

  #cart-container {
    background-color: unset;
    height: 100%;
    width: 100%;
    gap: 15px;
    padding: 80px 20px;
  }

  .cart-product {
    backdrop-filter: blur(6px);
    background-color: rgba(38, 37, 37, 0.299);
  }

  #categories-container {
    background-color: unset;
    backdrop-filter: blur(10px);
    gap: 30px;
  }

  #products-container {
    width: 100%;
    height: fit-content;
    padding: 20px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 10px;
  }

  .product {
    width: fit-content;
    background-color: rgba(71, 68, 68, 0.3);
    backdrop-filter: blur(3px);
    border-radius: 5px;
  }

  .half-price-content,
  .full-price-content {
    gap: 8px;
    font-size: 13px;
    margin-block: 8px;
  }

  .full-price-content span,
  .half-price-content span {
    margin-right: 2px;
  }

  .half-price-content button,
  .full-price-content button {
    font-size: clamp(10.4px, 2vw, 12px);
    padding: 4px 6px;
    border-radius: 12px;
    cursor: pointer;
  }

  .product h3 {
    margin-block: 10px;
  }

  .order-form form {
    height: 55%;
    width: 90%;
  }
}
