* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: sans-serif;
  background-color: #111;
  color: #fff;
}

/* Base Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
